[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/hippomocks"]
	path = external/hippomocks
	url = https://github.com/dascandy/hippomocks.git
